.wrapper {
    margin: 100px;
}


h1 {
    text-align: center;
}

p {
    text-align: center;

}

button {

}

#card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}
#card-header {
margin: 50px;
}

#card-body {
margin: 50px;
}

#card-footer {
margin: 50px;
text-align: center;
}